<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="testsuite">
  <test name="test">
    <groups>
      <run>
        <include name="regression"/>
      </run>
    </groups>
<classes>
    <class name="testcases.LoginTestcase"/>
            <class name="testcases.SampleformsTestcase">

            </class>

</classes>
  </test>
</suite>